BasedOnStyle: LLVM
UseTab: AlignWithSpaces
IndentWidth: 4
TabWidth: 4
ColumnLimit: 0
BreakBeforeBraces: WebKit 
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
IndentCaseLabels: false
AlignAfterOpenBracket: DontAlign 
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false 
  AcrossComments: true
InsertNewlineAtEOF: false
InsertTrailingCommas: None 
FixNamespaceComments: false

